body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75) 0% 100%), url(../assets/any-media/14.jpeg);
    background-size: cover;
    background-position: 50% 20%;
    background-attachment: fixed;
    font-family: 'Itim', cursive;
    font-size: 18px;
}

h1,
h2,
h3 {
    font-family: 'Lilita One', sans-serif;
}


.uupp {
    position: relative;
}

.loadingPage {
    z-index: 100;
}

.layer {
    position: absolute;
    height: 100%;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.726);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;

}

.item:hover .layer {
    top: 0;
    bottom: 0;
    transition: 0.5s;
}

.categItem:hover .layer {
    top: 0;
    bottom: 0;
    transition: 0.5s;
}

/* ====== item end ====== */

.img-contain {
    cursor: pointer;
}

.img-contain:hover .img-layer {
    top: 0;
    transition: all .5s;

}

.img-layer {
    position: absolute;
    height: 100%;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #ffffff75;
}


.modaal {
    height: 200px;
}

.fa-spinner {
    font-size: 100px;
}

.showItem {
    min-height: 100vh;
    display: none;
    background-image: linear-gradient(rgba(0, 0, 0, 0.85) 0% 100%), url(../assets/any-media/11.jpg);
    background-position: center;
    background-attachment: fixed;
}

/* =================  start side bar ======================== */

.sideNav {
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 99;

}

.sideNav .left {
    width: 80%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    padding-top: 20px;
    color: white;
}

.sideNav .right {
    width: 20%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sideFooter {
    padding: 26px
}

.sidbarUnits li {
    color: white;
    padding: 5px 70px 5px 30px;
    margin: 10px 0;
    cursor: pointer;
}

.sidbarUnits li:hover {
    filter: drop-shadow(0 0 7px rgb(255, 255, 255));
    color: #FDD00D;
}

.fa-xmark {
    display: none;
    padding: 12px;


}

.fa-xmark:hover,
.fa-bars:hover {
    color: #000;
}

.fa-bars {
    padding: 12px;

}


.sideItem {
    position: relative;
    top: 200px;
    opacity: 0;
}

/* =================  end side bar ======================== */



.recepies li {
    padding: 10px;
    margin: 5px;
    background-color: rgba(0, 255, 255, 0.402);
    border-radius: 10px;
}

.tagsBox li {
    padding: 10px;
    margin: 5px;
    background-color: rgba(255, 51, 0, 0.402);
    border-radius: 10px;
}


.item h3 {
    color: white;
}

.innerArea {
    cursor: pointer;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    transition: all .5s;
}

.innerArea:hover {
    background-color: #ffffff28;

}

.areaItem i {
    font-size: 40px;
}

i {
    cursor: pointer;
}

.ingItem {
    height: 300px;
    margin: 0;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px 25px;
    background-color: #ffffff00;
    cursor: pointer;
    transition: all .5s;
}

.ingItem:hover {
    background-color: #ffffff28;

}

.ingItem i {
    font-size: 50px;
}

.ingImg {
    width: 40%;
}

.categItem {
    overflow: hidden;
}

.innercateg {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s;
}

/* pages  */

.searchPage {
    color: white;
    display: none;
}

.input1::placeholder {
    color: gray;
}

.input2::placeholder {
    color: gray;
}

.input1,
.input2 {
    color: #000000;
    width: 45%;
}



/* ===========   contact page   ========= */

.contact {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
}

.Rightside {
    width: 40%;
}

.Leftside {
    width: 40%;
}



/* ======    start media query        ======== */
@media screen and (max-width : 768px) {
    .Rightside {
        width: 80%;

    }

    .Leftside {
        width: 80%;
    }

    .input1,
    .input2 {
        width: 80%;
        margin-block: 10px !important;
    }

    .smallscreenDetails {
        text-align: center;
    }
}



@media screen and (max-width : 576px) {

    body {
        background-image: linear-gradient(rgba(0, 0, 0, 0.78) 0% 100%), url(../assets/any-media/3-m.jpg);
        background-size: cover;
        background-position: center;
    }

    .container {
        width: 85%;
    }


    .sideNav {
        width: 200px;
    }


    .sideNav .right {
        border-radius: 0 15px 15px 0;
        height: 30%;
        top: 35%;
    }


    .recepies li {
        padding: 7px;
        margin: 4px;
        font-size: 14px;
        border-radius: 8px;
    }

    .tagsBox li {
        padding: 7px;
        margin: 4px;
        font-size: 14px;
        border-radius: 8px;
    }

    .itemInstruction {
        font-size: 16px;
    }

    .ingItem {
        font-size: 14px;
        height: 250px;
    }

    .showItem {

        background-position: 48% 70%;
        background-attachment: fixed;
    }

}

@media screen and (max-height : 700px) {
    .sideNav .right {
        border-radius: 0 0 0 0;
        height: 100%;
        top: 0;
    }
}

@media screen and (max-height : 412px) {
    .sideFooter {
        padding: 0 10px 0px;
        font-size: 10px;
    }

    .sidbarUnits li {
        padding: 3px 70px 3px 30px;
        margin: 4px 0;
    }
}